/*Start global css properties*/
body {
    font-family: Tahoma,Arial;
    
}

.placeholder-color::placeholder {
    color: red;
}
/*End global css properties*/
/*Start header section*/
.header {
    padding: 20px;
    background-color: #EEE;
    background-image: url('../images/1.jpeg');
    position: relative;
    z-index: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 80vh;
}

    .header .overlay {
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,0.7);
    }

    .header .container {
        position: relative;
        z-index: 3;
    }

        .header .container .h2 {
            font-size: 30px;
            color: white;
            margin: 0;
            padding: 0;
        }

@media(max-width:768px) {
    .header .container .h2 {
        margin-top: 50px;
        font-size: 20px;
    }
}

.header .button {
    text-align: right;
}

    .header .button .btn {
        background-color: #fff;
        color: #333;
        font-weight: bold;
        width: 120px;
    }


.header .container .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}



.header .contact-form {
    background-color:#fff;
    padding: 20px;
    margin-top: 70px;
    width: 500px;
    color: black;
    margin-bottom: 50px;
    border-radius:5px;
}

@media(max-width:768px) {
    .header .contact-form {
        margin-top: 50px;
        width: 400px;
    }  
}

.header .contact-form .h4 {
    padding: 20px;
}

@media(max-width:768px) {
    .header .contact-form .h4 {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
    }
}

.header .contact-form .hint {
    display: none;
    font-size:15px;
    margin-left:70px;
    
}

.header .form-info p {
    font-size: 18px;
    margin: 0px;
    padding: 3px;
    color:#333;
    display:none;
}

.header .form-info input {
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-left: 70px;
    font-size: 20px;
    border:1px solid #ccc;
    margin-bottom:15px;
    color: #333;
    background-color:transparent;
}
.header .form-info .text {
    margin-bottom:0;
}
.header .form-info .password {
    margin-top:15px;
}

input::placeholder {
    color: #333;
}

@media(max-width:768px) {
    .header .form-info input {
        border: 1px solid #eee;
        margin-left: 20px;
        color: #333;
    }

    input::placeholder {
        color: #333;
    }
}

.header .box .btn-success {
    width: 300px;
    margin-left: 70px;
    margin-top: 25px;
}

@media(max-width:768px) {
    .header .box .btn-success {
        margin-left: 20px;
    }
}

/*End header section*/
/*Start footer section*/
.footer {
    background-color: black;
    color: white;
    min-height:250px;
}

    .footer ul {
        padding: 50px 0;
        border-bottom: 1px solid #EEE;
    }

        .footer ul li {
            display: inline;
            margin-right: 70px;
            font-size: 20px;
        }

@media(max-width:768px) {
    .footer ul li {
        font-size: 16px;
        margin-right: 20px;
        padding-bottom: 10px;
    }
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer .footer-content .options select {
    width: 150px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    padding: 1px;
    display: inline;
    border: none;
}
@media(max-width:768px){
    .footer .footer-content .options select {
        margin-bottom:10px;
    }
}

.footer .footer-content .copyright p {
    display: inline;
    margin: 20px 0;
}

@media(max-width:768px) {
    .footer {
        height: 250px;
    }

        .footer .footer-content {
            text-align: center;
        }
}
/*End footer section*/



